<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="animated delay-3">
  <div class="footer-container">
    <div class="footer-section social-links">
      <h3>تابعنا على وسائل التواصل</h3>
      <ul>
        <li><a href="https://wa.me/0616460988"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    
    <div class="footer-section footer-info">
      <p><i class="fas fa-car"></i> محطة غسيل السيارات </p>
      <p><i class="fas fa-map-marker-alt"></i> العنوان: شارع شكيب ارسلان القنيطرة</p>
      <p><i class="fas fa-phone"></i> الهاتف: 0123456789</p>
      <p><i class="fas fa-clock"></i> أوقات العمل: 8 صباحاً - 6 مساءً</p>
    </div>
  </div>
  
  <div class="copyright">
    <p>&copy; <span id="year"></span> جميع الحقوق محفوظة لمحطة غسيل السيارات</p>
  </div>
</footer>