<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lahrour washing</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="static/home.css">
  <link rel="stylesheet" href="static/style.css">
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("/service-worker.js");
    .then(() => console.log("Service Worker registered!"));
  }
</script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-39KP9LQJR8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-39KP9LQJR8');
</script>
<meta name="google-site-verification" content="Ma5ZjeN-j2NZZq3Ip77aJvNI-0Jsea5lomrt5mHg6Z8" />
</head>
<body>
    {% include 'appbar.html' %}
  
  <main>
    <div class="section">
      <div id="img">
        <img src="{{ url_for('static', filename='images/sevice1.jpg') }}" class="active">
        <img src="{{ url_for('static', filename='images/services2.jpg') }}">
        <img src="{{ url_for('static', filename='images/service2.jpg') }}">
        <img src="{{ url_for('static', filename='images/service4.jpeg') }}">
      </div>
      <span>
        اختر طريقة غسيل سيارتك بكل اريحية و بسهولة 
      </span>
    </div>
    
    <form action="/" method="post">
      <select name="type" >
        <option value="" selected disabled>-- اختر نوع الخدمة --</option>
        <option  value="0">غسيل خارجي</option>
        <option value="1">غسيل داخلي و خارجي</option>
        <option value="2">تلميع و تشميع</option>
        <option value="3">تنظيف المكينة</option>
        <option value="4">غسل و تعطير السجاد</option>
        <option value="5">الغسيل أسفل السيارة</option>
      </select>
      <button type="submit">احجز الان</button>
       {% if message %}
        <span id="message">{{message}}</span>
        {% endif %}
    </form>
    
    <p>بعد اكمال حجز موعد غسل سيارتك ستجدنا على الخريطة</p>
    <iframe src=""></iframe>
  </main>
   {% include 'footer.html' %}
  <script src="static/main.js"></script>
  <script>
      // تغيير الصور تلقائياً في الصفحة الرئيسية
document.addEventListener('DOMContentLoaded', function() {
  let currentImage = 0;
  const images = document.querySelectorAll('#img img');
  
  if (images.length > 0) {
    function changeImage() {
      images[currentImage].classList.remove('active');
      currentImage = (currentImage + 1) % images.length;
      images[currentImage].classList.add('active');
    }
    
    setInterval(changeImage, 3000);
  }
});
//PWA
let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
  e.preventDefault();
  deferredPrompt = e;
  // هنا يمكنك عرض زر مخصص للمستخدم
  document.getElementById('installBtn').style.display = 'block';
});

document.getElementById('installBtn').addEventListener('click', () => {
  deferredPrompt.prompt();
  deferredPrompt.userChoice.then(choiceResult => {
    console.log(choiceResult.outcome);
    deferredPrompt = null;
  });
});
  </script>
</body>
</html>
